@model IEnumerable<Application.Web.Models.HeroViewModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="container well" style="margin-top:10px;background: #374c60;">
        <div class="col-md-6">
            <h1>Diablo III Ladders</h1>
            <hr />
            <p>
                Diablo III Ladders is Chart system for Diablo III players. It is simple system - Just register your account in the top right corner and provide valid BattleTag (eg:&nbsp;noob#1234).
                <br /><br />
                The System will automaticly fetch the data of your heroes from the <a href="http://blizzard.github.io/d3-api-docs/">official Diablo III API</a> . After that you can view how your hero is placed among other heroes.
                You can also comment and rate heroes and write guides based on given skillset.
            </p>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Latest Guides
                </div>
                <div class="panel-body">
                    <img src="~/Content/img/barbarian_male.png" alt="Alternate Text" />
                    <a href="/Guides/Details/1" style="color: white;">Awesome Barbarian build</a>  <div class="pull-right">Rating: <span class="label label-success">55</span> Comments: <span class="label label-success">36</span></div><br />
                    <br />
                    <img src="~/Content/img/barbarian_male.png" alt="Alternate Text" />
                    <a href="/Guides/Details/1" style="color: white;">Bone Crusher [Zerger]</a>  <div class="pull-right">Rating: <span class="label label-success">31</span> Comments: <span class="label label-success">22</span></div><br />
                    <br />
                    <img src="~/Content/img/wizard_female.png" alt="Alternate Text" />
                    <a href="/Guides/Details/1" style="color: white;">PermaFrost Wizard</a>  <div class="pull-right">Rating: <span class="label label-success">18</span> Comments: <span class="label label-success">31</span></div><br />
                    <br />
                    <img src="~/Content/img/monk_male.png" alt="Alternate Text" />
                    <a href="/Guides/Details/1" style="color: white;">Tempest Rush Speed Monk</a>  <div class="pull-right">Rating: <span class="label label-success">5</span> Comments: <span class="label label-success">6</span></div><br />
                    <br />
                    <img src="~/Content/img/barbarian_female.png" alt="Alternate Text" />
                    <a href="/Guides/Details/1" style="color: white;">Speed Paragon Leveling with Barb</a>  <div class="pull-right">Rating: <span class="label label-danger">-5</span> Comments: <span class="label label-success">44</span></div><br />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading all-heroes-splash">
                    <h3 class="panel-title">Most Powerfull Heroes: Softcore</h3>
                </div>
                <div class="panel-body">
                    @(Html.Kendo()
                    .Grid<Application.Web.Models.HeroViewModel>()
                    .Name("heroes-grid-softcore")
                    .Pageable()
                    .Sortable()
                    .Columns(col =>
                    {
                        col.Bound(m => m.Name).ClientTemplate(
                        "<a href='" + Url.Action("Details", "Heroes") + "/#= ID #'" + ">#= Name #</a>");
                        col.Bound(m => m.BattleTag);
                        col.Bound(m => m.Damage);
                        col.Bound(m => m.Life);
                        col.Bound(m => m.HeroClass);
                        col.Bound(m => m.ParagonLevel);
                    })
                                .DataSource(data =>
                                {
                                    data.Ajax()
                                        .ServerOperation(true)
                                        .Read("ReadAllHeroes", "Heroes")
                                        .PageSize(6)
                                        .Sort(sort =>
                                        {
                                            sort.Add(hero => hero.ParagonLevel).Descending();
                                            sort.Add(hero => hero.Damage);
                                            sort.Add(hero => hero.Toughness);
                                        });
                                }))
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-danger">
                <div class="panel-heading all-heroes-splash">
                    <h3 class="panel-title">Most Powerfull Heroes: Hardcore</h3>
                </div>
                <div class="panel-body">
                    @(Html.Kendo()
                    .Grid<Application.Web.Models.HeroViewModel>()
                    .Name("heroes-grid-hardcore")
                    .Pageable()
                    .Sortable()
                    .Columns(col =>
                    {
                        col.Bound(m => m.Name).ClientTemplate(
                        "<a href='" + Url.Action("Details", "Heroes") + "/#= ID #'" + ">#= Name #</a>");
                        col.Bound(m => m.BattleTag);
                        col.Bound(m => m.Damage);
                        col.Bound(m => m.Life);
                        col.Bound(m => m.HeroClass);
                        col.Bound(m => m.ParagonLevel);
                    })
                                .DataSource(data =>
                                {
                                    data.Ajax()
                                        .ServerOperation(true)
                                        .Read("ReadAllHeroesHardcore", "Heroes")
                                        .PageSize(6)
                                        .Sort(sort =>
                                        {
                                            sort.Add(hero => hero.ParagonLevel).Descending();
                                            sort.Add(hero => hero.Damage);
                                            sort.Add(hero => hero.Toughness);
                                        });
                                }))
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading barbarian-splash">
                    <h3 class="panel-title ">TOP Barbarians: Softcore</h3>
                </div>
                <div class="panel-body">
                    @(Html.Kendo()
                    .Grid<Application.Web.Models.HeroViewModel>()
                    .Name("heroes-grid-barbarians")
                    .Pageable()
                    .Sortable()
                    .Columns(col =>
                    {
                        col.Bound(m => m.Name).ClientTemplate(
                        "<a href='" + Url.Action("Details", "Heroes") + "/#= ID #'" + ">#= Name #</a>");
                        col.Bound(m => m.BattleTag);
                        col.Bound(m => m.Damage);
                        col.Bound(m => m.Life);
                        col.Bound(m => m.HeroClass);
                        col.Bound(m => m.ParagonLevel);
                    })
                                .DataSource(data =>
                                {
                                    data.Ajax()
                                        .ServerOperation(true)
                                        .Read("ReadAllHeroesBarbarian", "Heroes")
                                        .PageSize(6)
                                        .Sort(sort =>
                                        {
                                            sort.Add(hero => hero.ParagonLevel).Descending();
                                            sort.Add(hero => hero.Damage);
                                            sort.Add(hero => hero.Toughness);
                                        });
                                }))
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-danger">
                <div class="panel-heading barbarian-splash">
                    <h3 class="panel-title ">TOP Babarians: Hardcore</h3>
                </div>
                <div class="panel-body">
                    @(Html.Kendo()
                    .Grid<Application.Web.Models.HeroViewModel>()
                    .Name("heroes-grid-barbarians-hardcore")
                    .Pageable()
                    .Sortable()
                    .Columns(col =>
                    {
                        col.Bound(m => m.Name).ClientTemplate(
                        "<a href='" + Url.Action("Details", "Heroes") + "/#= ID #'" + ">#= Name #</a>");
                        col.Bound(m => m.BattleTag);
                        col.Bound(m => m.Damage);
                        col.Bound(m => m.Life);
                        col.Bound(m => m.HeroClass);
                        col.Bound(m => m.ParagonLevel);
                    })
                                .DataSource(data =>
                                {
                                    data.Ajax()
                                        .ServerOperation(true)
                                        .Read("ReadAllHeroesBarbarianHardcore", "Heroes")
                                        .PageSize(6)
                                        .Sort(sort =>
                                        {
                                            sort.Add(hero => hero.ParagonLevel).Descending();
                                            sort.Add(hero => hero.Damage);
                                            sort.Add(hero => hero.Toughness);
                                        });
                                }))
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading wizard-splash">
                    <h3 class="panel-title">TOP Wizards: Softcore</h3>
                </div>
                <div class="panel-body">
                    @(Html.Kendo()
                    .Grid<Application.Web.Models.HeroViewModel>()
                    .Name("heroes-grid-wizards")
                    .Pageable()
                    .Sortable()
                    .Columns(col =>
                    {
                        col.Bound(m => m.Name).ClientTemplate(
                        "<a href='" + Url.Action("Details", "Heroes") + "/#= ID #'" + ">#= Name #</a>");
                        col.Bound(m => m.BattleTag);
                        col.Bound(m => m.Damage);
                        col.Bound(m => m.Life);
                        col.Bound(m => m.HeroClass);
                        col.Bound(m => m.ParagonLevel);
                    })
                                .DataSource(data =>
                                {
                                    data.Ajax()
                                        .ServerOperation(true)
                                        .Read("ReadAllHeroesWizard", "Heroes")
                                        .PageSize(6)
                                        .Sort(sort =>
                                        {
                                            sort.Add(hero => hero.ParagonLevel).Descending();
                                            sort.Add(hero => hero.Damage);
                                            sort.Add(hero => hero.Toughness);
                                        });
                                }))
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-danger">
                <div class="panel-heading wizard-splash">
                    <h3 class="panel-title">TOP Wizards: Hardcore</h3>
                </div>
                <div class="panel-body">
                    @(Html.Kendo()
                    .Grid<Application.Web.Models.HeroViewModel>()
                    .Name("heroes-grid-wizards-hardcore")
                    .Pageable()
                    .Sortable()
                    .Columns(col =>
                    {
                        col.Bound(m => m.Name).ClientTemplate(
                        "<a href='" + Url.Action("Details", "Heroes") + "/#= ID #'" + ">#= Name #</a>");
                        col.Bound(m => m.BattleTag);
                        col.Bound(m => m.Damage);
                        col.Bound(m => m.Life);
                        col.Bound(m => m.HeroClass);
                        col.Bound(m => m.ParagonLevel);
                    })
                                .DataSource(data =>
                                {
                                    data.Ajax()
                                        .ServerOperation(true)
                                        .Read("ReadAllHeroesWizardHardcore", "Heroes")
                                        .PageSize(6)
                                        .Sort(sort =>
                                        {
                                            sort.Add(hero => hero.ParagonLevel).Descending();
                                            sort.Add(hero => hero.Damage);
                                            sort.Add(hero => hero.Toughness);
                                        });
                                }))
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading dh-splash">
                    <h3 class="panel-title">TOP Demon Hunters: Softcore</h3>
                </div>
                <div class="panel-body">
                    @(Html.Kendo()
                    .Grid<Application.Web.Models.HeroViewModel>()
                    .Name("heroes-grid-demon-hunter")
                    .Pageable()
                    .Sortable()
                    .Columns(col =>
                    {
                        col.Bound(m => m.Name).ClientTemplate(
                        "<a href='" + Url.Action("Details", "Heroes") + "/#= ID #'" + ">#= Name #</a>");
                        col.Bound(m => m.BattleTag);
                        col.Bound(m => m.Damage);
                        col.Bound(m => m.Life);
                        col.Bound(m => m.HeroClass);
                        col.Bound(m => m.ParagonLevel);
                    })
                                .DataSource(data =>
                                {
                                    data.Ajax()
                                        .ServerOperation(true)
                                        .Read("ReadAllHeroesDemonHunter", "Heroes")
                                        .PageSize(6)
                                        .Sort(sort =>
                                        {
                                            sort.Add(hero => hero.ParagonLevel).Descending();
                                            sort.Add(hero => hero.Damage);
                                            sort.Add(hero => hero.Toughness);
                                        });
                                }))
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-danger">
                <div class="panel-heading dh-splash">
                    <h3 class="panel-title">TOP Demon Hunters: Hardcore</h3>
                </div>
                <div class="panel-body">
                    @(Html.Kendo()
                    .Grid<Application.Web.Models.HeroViewModel>()
                    .Name("heroes-grid-demon-hunter-hardcore")
                    .Pageable()
                    .Sortable()
                    .Columns(col =>
                    {
                        col.Bound(m => m.Name).ClientTemplate(
                        "<a href='" + Url.Action("Details", "Heroes") + "/#= ID #'" + ">#= Name #</a>");
                        col.Bound(m => m.BattleTag);
                        col.Bound(m => m.Damage);
                        col.Bound(m => m.Life);
                        col.Bound(m => m.HeroClass);
                        col.Bound(m => m.ParagonLevel);
                    })
                                .DataSource(data =>
                                {
                                    data.Ajax()
                                        .ServerOperation(true)
                                        .Read("ReadAllHeroesDemonHunterHardcore", "Heroes")
                                        .PageSize(6)
                                        .Sort(sort =>
                                        {
                                            sort.Add(hero => hero.ParagonLevel).Descending();
                                            sort.Add(hero => hero.Damage);
                                            sort.Add(hero => hero.Toughness);
                                        });
                                }))
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading monk-splash">
                    <h3 class="panel-title">TOP Monks</h3>
                </div>
                <div class="panel-body">
                    @(Html.Kendo()
                    .Grid<Application.Web.Models.HeroViewModel>()
                    .Name("heroes-grid-monk")
                    .Pageable()
                    .Sortable()
                    .Columns(col =>
                    {
                        col.Bound(m => m.Name).ClientTemplate(
                        "<a href='" + Url.Action("Details", "Heroes") + "/#= ID #'" + ">#= Name #</a>");
                        col.Bound(m => m.BattleTag);
                        col.Bound(m => m.Damage);
                        col.Bound(m => m.Life);
                        col.Bound(m => m.HeroClass);
                        col.Bound(m => m.ParagonLevel);
                    })
                                .DataSource(data =>
                                {
                                    data.Ajax()
                                        .ServerOperation(true)
                                        .Read("ReadAllHeroesMonk", "Heroes")
                                        .PageSize(6)
                                        .Sort(sort =>
                                        {
                                            sort.Add(hero => hero.ParagonLevel).Descending();
                                            sort.Add(hero => hero.Damage);
                                            sort.Add(hero => hero.Toughness);
                                        });
                                }))
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-danger">
                <div class="panel-heading monk-splash">
                    <h3 class="panel-title">TOP Monks: Hardcore</h3>
                </div>
                <div class="panel-body">
                    @(Html.Kendo()
                    .Grid<Application.Web.Models.HeroViewModel>()
                    .Name("heroes-grid-monk-hardcore")
                    .Pageable()
                    .Sortable()
                    .Columns(col =>
                    {
                        col.Bound(m => m.Name).ClientTemplate(
                        "<a href='" + Url.Action("Details", "Heroes") + "/#= ID #'" + ">#= Name #</a>");
                        col.Bound(m => m.BattleTag);
                        col.Bound(m => m.Damage);
                        col.Bound(m => m.Life);
                        col.Bound(m => m.HeroClass);
                        col.Bound(m => m.ParagonLevel);
                    })
                                .DataSource(data =>
                                {
                                    data.Ajax()
                                        .ServerOperation(true)
                                        .Read("ReadAllHeroesMonkHardcore", "Heroes")
                                        .PageSize(6)
                                        .Sort(sort =>
                                        {
                                            sort.Add(hero => hero.ParagonLevel).Descending();
                                            sort.Add(hero => hero.Damage);
                                            sort.Add(hero => hero.Toughness);
                                        });
                                }))
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading wd-splash">
                    <h3 class="panel-title">TOP Witch Doctors</h3>
                </div>
                <div class="panel-body">
                    @(Html.Kendo()
                    .Grid<Application.Web.Models.HeroViewModel>()
                    .Name("heroes-grid-witch-doctor")
                    .Pageable()
                    .Sortable()
                    .Columns(col =>
                    {
                        col.Bound(m => m.Name).ClientTemplate(
                        "<a href='" + Url.Action("Details", "Heroes") + "/#= ID #'" + ">#= Name #</a>");
                        col.Bound(m => m.BattleTag);
                        col.Bound(m => m.Damage);
                        col.Bound(m => m.Life);
                        col.Bound(m => m.HeroClass);
                        col.Bound(m => m.ParagonLevel);
                    })
                                .DataSource(data =>
                                {
                                    data.Ajax()
                                        .ServerOperation(true)
                                        .Read("ReadAllHeroesWitchDoctor", "Heroes")
                                        .PageSize(6)
                                        .Sort(sort =>
                                        {
                                            sort.Add(hero => hero.ParagonLevel).Descending();
                                            sort.Add(hero => hero.Damage);
                                            sort.Add(hero => hero.Toughness);
                                        });
                                }))
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-danger">
                <div class="panel-heading wd-splash">
                    <h3 class="panel-title">TOP Witch Doctors: Hardcore</h3>
                </div>
                <div class="panel-body">
                    @(Html.Kendo()
                    .Grid<Application.Web.Models.HeroViewModel>()
                    .Name("heroes-grid-witch-doctor-hardcore")
                    .Pageable()
                    .Sortable()
                    .Columns(col =>
                    {
                        col.Bound(m => m.Name).ClientTemplate(
                        "<a href='" + Url.Action("Details", "Heroes") + "/#= ID #'" + ">#= Name #</a>");
                        col.Bound(m => m.BattleTag);
                        col.Bound(m => m.Damage);
                        col.Bound(m => m.Life);
                        col.Bound(m => m.HeroClass);
                        col.Bound(m => m.ParagonLevel);
                    })
                                .DataSource(data =>
                                {
                                    data.Ajax()
                                        .ServerOperation(true)
                                        .Read("ReadAllHeroesWitchDoctorHardcore", "Heroes")
                                        .PageSize(6)
                                        .Sort(sort =>
                                        {
                                            sort.Add(hero => hero.ParagonLevel).Descending();
                                            sort.Add(hero => hero.Damage);
                                            sort.Add(hero => hero.Toughness);
                                        });
                                }))
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading crusader-splash">
                    <h3 class="panel-title">TOP Crusaders</h3>
                </div>
                <div class="panel-body">
                    @(Html.Kendo()
                    .Grid<Application.Web.Models.HeroViewModel>()
                    .Name("heroes-grid-crusader")
                    .Pageable()
                    .Sortable()
                    .Columns(col =>
                    {
                        col.Bound(m => m.Name).ClientTemplate(
                        "<a href='" + Url.Action("Details", "Heroes") + "/#= ID #'" + ">#= Name #</a>");
                        col.Bound(m => m.BattleTag);
                        col.Bound(m => m.Damage);
                        col.Bound(m => m.Life);
                        col.Bound(m => m.HeroClass);
                        col.Bound(m => m.ParagonLevel);
                    })
                                .DataSource(data =>
                                {
                                    data.Ajax()
                                        .ServerOperation(true)
                                        .Read("ReadAllHeroesCrusader", "Heroes")
                                        .PageSize(6)
                                        .Sort(sort =>
                                        {
                                            sort.Add(hero => hero.ParagonLevel).Descending();
                                            sort.Add(hero => hero.Damage);
                                            sort.Add(hero => hero.Toughness);
                                        });
                                }))
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-danger">
                <div class="panel-heading crusader-splash">
                    <h3 class="panel-title">TOP Crusaders: Hardcore</h3>
                </div>
                <div class="panel-body">
                    @(Html.Kendo()
                    .Grid<Application.Web.Models.HeroViewModel>()
                    .Name("heroes-grid-crusader-hardcore")
                    .Pageable()
                    .Sortable()
                    .Columns(col =>
                    {
                        col.Bound(m => m.Name).ClientTemplate(
                        "<a href='" + Url.Action("Details", "Heroes") + "/#= ID #'" + ">#= Name #</a>");
                        col.Bound(m => m.BattleTag);
                        col.Bound(m => m.Damage);
                        col.Bound(m => m.Life);
                        col.Bound(m => m.HeroClass);
                        col.Bound(m => m.ParagonLevel);
                    })
                                .DataSource(data =>
                                {
                                    data.Ajax()
                                        .ServerOperation(true)
                                        .Read("ReadAllHeroesCrusaderHardcore", "Heroes")
                                        .PageSize(6)
                                        .Sort(sort =>
                                        {
                                            sort.Add(hero => hero.ParagonLevel).Descending();
                                            sort.Add(hero => hero.Damage);
                                            sort.Add(hero => hero.Toughness);
                                        });
                                }))
                </div>
            </div>
        </div>
    </div>
</div>
